* {
  margin: 0;
  padding: 0;
}
.contanier {
  width: 96%;
  max-width: 1200px;
}
.picture img {
  width: 1065px;
  height: 600px;
  margin: 25px 0px 0px 137px;
}
.header {
  width: 1058px;
  height: 90px;
  background-color: orangered;
  margin: 0px 0px 0px 137px;
  border: 3px solid #007acc;
}
header h1 {
  color: white;
  margin: -60px 0px 0px 450px;
  font-size: 45px;
}
.picture h1 {
  margin: -530px 0px 0px 400px;
  color: white;
}
#h1 {
  margin: 0px 0px 0px 500px;
  color: white;
}
.button button {
  background-color: orangered;
  color: white;
  font-size: 30px;
  border-radius: 5px;
  width: 345px;
  height: 50px;
  margin: 20px 0px 0px 500px;
}
/* .photo1 {
  width: 800px;
  height: 1px;
  background-color: grey;
  margin: 430px 0px 0px 210px;
} */
.photo1 {
  width: 840px;
  height: 1px;
  background-color: grey;
  margin: 50px 0px 0px 210px;
}
.writing h1 {
  margin: 150px 0px 0px 400px;
  text-align: center;
  width: 500px;
}
.photo2 img {
  margin: 40px 0px 0px 250px;
  width: 400px;
  height: 264px;
}
.photo2  p {
  margin: 0px 0px 0px 700px;
  font-size: 3vw;
  width: 500px;
}
.photo2 h1 {
  color: blue;
  width: 300px;
  margin: -190px 0px 0px 700px;
}
.photo3 {
  width: 840px;
  height: 1px;
  background-color: grey;
  margin: 130px 0px 0px 210px;
}
.photo3 p {
  /* margin: 0px 0px 0px -700px; */
  font-size: 20px;
}
.photo3 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 450px;
}
.photo3 h1 {
  color: blue;
  margin: -230px 0px 0px 0px;
}
.photo4 {
  width: 840px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo4 img {
  width: 377px;
  height: 264px;
  margin: 25px 0px 0px 100px;
}
.photo4 h1 {
  color: blue;
  margin: -250px 0px 0px 550px;
}
.photo4 p {
  margin: 0px 0px 0px 550px;
  font-size: 20px;
}
.photo5 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo5 img {
  width: 377px;
  height: 264px;
  margin: 25px 0px 0px 500px;
}
.photo5 p {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
}
.photo5 h1 {
  margin: -200px 0px 0px 0px;
  color: blue;
}
.photo6 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo6 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 500px;
}
.photo6 p {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
}
.photo6 h1 {
  color: blue;
  margin: -250px 0px 0px 100px;
}
.photo6_1 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo6_1 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 100px;
}
.photo6_1 p {
  margin: 0px 0px 0px 500px;
  font-size: 20px;
}
.photo6_1 h1 {
  color: blue;
  margin: -250px 0px 0px 600px;
}
.photo7 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo7 img {
  width: 377px;
  height: 264px;
  margin: 25px 0px 0px 100px;
}
.photo7 h1 {
  color: blue;
  margin: -250px 0px 0px 600px;
}
.photo7 p {
  font-size: 20px;
  margin: -250px 0px 0px 500px;
}
.photo8 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo8 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 500px;
}
.photo8 h1 {
  color: blue;
  margin: -175px 0px 0px 150px;
}
.photo8 p {
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}
.photo9 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo9 p {
  font-size: 20px;
  margin: 0px 0px 0px 500px;
}
.photo9 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 100px;
}
.photo9 h1 {
  color: blue;
  margin: -200px 0px 0px 500px;
}
.photo10 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo10 p {
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}
.photo10 img {
  width: 377px;
  height: 264px;
  margin: 25px 0px 0px 500px;
}
.photo10 h1 {
  color: blue;
  margin: -250px 0px 0px 0px;
}
.photo11 {
  width: 890px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo11 p {
  font-size: 20px;
  margin: 0px 0px 0px 500px;
}
.photo11 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 100px;
}
.photo11 h1 {
  color: blue;
  margin: -250px 0px 0px 500px;
}
.photo12 {
  width: 895px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo12 p {
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}
.photo12 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 500px;
}
.photo12 h1 {
  color: blue;
  margin: -250px 0px 0px 100px;
}
.photo13 {
  width: 895px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.photo13 p {
  font-size: 20px;
  margin: 0px 0px 0px 500px;
}
.photo13 img {
  width: 377px;
  height: 264px;
  margin: 20px 0px 0px 100px;
}
.photo13 h1 {
  color: blue;
  margin: -250px 0px 0px 500px;
}
.lastline {
  width: 895px;
  height: 1px;
  background-color: grey;
  margin: 305px 0px 0px 210px;
}
.inputs {
  float: left;
}
.input1 input {
  width: 302px;
  height: 56px;
  border: 1px solid #cccccc;
  background-color: #3295cd;
  border-radius: 10px;
  display: inline-block;
  margin: 50px 0px 0px 550px;
}
.input2 input {
  width: 302px;
  height: 56px;
  border: 1px solid #cccccc;
  background-color: #3295cd;
  border-radius: 10px;
  display: inline;
  margin: 10px 0px 0px 550px;
}

.input3 input {
  width: 302px;
  height: 56px;
  border: 1px solid #cccccc;
  background-color: #3295cd;
  display: inline;
  border-radius: 10px;
  margin: 10px 0px 0px 550px;
}

.input4 input {
  width: 302px;
  height: 56px;
  border: 1px solid #cccccc;
  background-color: #3295cd;
  display: inline;
  border-radius: 10px;
  margin: 10px 0px 0px 550px;
}
.icon1 img {
  margin: 480px 0px 0px 125px;
  width: 150px;
  height: 150px;
}
.icon2 img {
  width: 150px;
  height: 150px;
  display: block;
  margin: -220px 0px 0px 500px;
}
.icon3 img {
  width: 150px;
  height: 150px;
  display: block;
  margin: -200px 0px 0px 800px;
}
.icon4 img {
  width: 150px;
  height: 150px;
  display: block;
  margin: -200px 0px 0px 1050px;
}

.icon1 h1 {
  margin: 0px 0px 0px 140px;
}
#h1_4 {
  margin: 0px 0px 0px 450px;
}
#h1_3 {
  margin: 0px 0px 0px 450px;
}
.icon3 h1 {
  margin: 0px 0px 0px 750px;
}
.icon4 h1 {
  margin: 0px 0px 0px 1050px;
}
.button2 button {
  background-color: orangered;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  width: 307px;
  height: 56px;
  margin: 20px 0px 0px 550px;
}
.input4 input::placeholder {
  color: rgb(236, 231, 231);
  font-size: 20px;
}
.input3 input::placeholder {
  color: rgb(236, 231, 231);
  font-size: 20px;
}
.input2 input::placeholder {
  color: rgb(236, 231, 231);
  font-size: 20px;
}
.input1 input::placeholder {
  color: rgb(236, 231, 231);
  font-size: 20px;
}
footer {
  width: 1349px;
  background-color: #007acc;
  height: 100px;
  margin: 50px 0px 0px 0px;
}
.footer a img {
  width: 20px;
  height: 20px;
  margin: 50px 0px 0px 50px;
}
.ins a img {
  display: block;
  width: 20px;
  height: 20px;
  margin: -25px 0px 0px 100px;
}
.adver a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 250%;
  font-family: monospace;
  margin: 0px 0px 0px 500px;
}
.reset input {
  display: block;
  background-color: orangered;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  width: 100px;
  height: 56px;
  margin: -60px 0px 0px 900px;
}
.youtubee iframe {
  margin: 0px 0px 0px 400px;
}
.lastline2 {
  width: 895px;
  height: 1px;
  background-color: grey;
  margin: 0px 0px 0px 210px;
}

@media screen and (max-width: 700px) {
  header h1 {
    font-size: 200%;
    margin-top: -55px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .picture h1 {
    width: 100%;
    height: 100%;
  }
}
